<div class="collapse bg-dark" id="navbarHeader">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 py-4">
        <ul class="list-unstyled">
          <li><a *ngIf="authService.loggedIn()" routerLink="/dashboard" class="text-white">Dashboard</a></li>
          <li><a *ngIf="authService.loggedIn()" routerLink="/profile" class="text-white">Profile</a></li>
          <li><a *ngIf="authService.loggedIn()" routerLink="/" class="text-white">Blog</a></li>
          <li><a *ngIf="!authService.loggedIn()" routerLink="/login" class="text-white">Login</a></li>
          <li><a *ngIf="authService.loggedIn()" routerLink="/" (click)='logOut()' class="text-white">LogOut</a></li>
          <li><a *ngIf="!authService.loggedIn()" routerLink="/register" class="text-white">Register</a></li>

        </ul>
      </div>
    </div>
  </div>
</div>
<div class="navbar navbar-dark bg-dark">
  <div class="container d-flex justify-content-between">
    <a routerLink="" class="navbar-brand">Home</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>